body {
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: padding-top;
}

.bg-orange {
    background-color: orange;
}

.bg-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
}

.bg-yellow {
    background-color: yellow;
}

.bg-lightsalmon {
    background-color: lightsalmon;
}

.bg-gold {
    background-color: gold;
}

.text-orange {
    color: orange;
}

button.form-control:focus {
    background-color: gold;
}

.border-5 {
    border-width: 15px !important;
}